.main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* //?----------------------------------------------- */
.lista_paradas {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    border-bottom: 1px solid black;
    /* background-color: #f9cc14; */
}

.lista_paradas p {
    height: 30px;
    text-align: center;
    font-size: 13px;
}
.lista_paradas h4{
    height: 30px;
    text-align: center;
    margin: .8rem;
    padding: 0;
}
.puntoNegro,
.puntoVerde {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    background-color: aqua;
}
.puntoNegro{
    background-color: cadetblue;
}
.gris{
    filter: grayscale(1);
}
.selection_img img{
    margin: 0;
}

/* //?----------------------------------------------- */
.paradas {
    /* min-height: 75vh; */
    min-height: 58vh;
    /* border: 1px solid black; */
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.paradaAnterior {
    color: gray;
}

.paradaActual {
    color: red;
}

.paradaSiguiente {
    color: aqua;
}

.paradaAnterior p,
.paradaActual p,
.paradaSiguiente p {
    font-size: 3rem;
    font-weight: bold;
}

.paradaAnterior img {
    filter: grayscale(1);
}
/* //?----------------------------------------------- */
.logo{
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
/* //?----------------------------------------------- */
.footer{
    display: flex;
    /* margin: 0.7rem 5%; */
    padding: .5rem 5%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
    /* background-color: #06963c; */
}
.footer h3{
    font-size: 24px;
    margin: .3rem 1.2rem;
}
.footer_ruta{
    align-items: flex-end;
    display: flex;
    gap: 3rem;
}

.footer_info{
    display: flex;
    gap: 3rem;
    justify-content: right;
}
/* //?----------------------------------------------- */
/* @media (prefers-color-scheme: dark) {
    .main {
        background-color: black;
        color: aliceblue;        
    }
    .lista_paradas{
        border-bottom: 1px solid aliceblue;
    }
    .footer{
        border-top: 1px solid aliceblue;
    }
    .footer_info img{
        filter: invert(1);
    }
} */